{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {% if form.instance.pk %}
    Edit
  {% else %}
    Add
  {% endif %}
  Appliance
{% endblock %}
{% block content %}
  <div class="card mt-4">
    <div class="card-header">
      <h1 class="card-title">
        {% if form.instance.pk %}
          Edit
        {% else %}
          Add
        {% endif %}
        Appliance
      </h1>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" id="appliance-form">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">{{ form.name|as_crispy_field }}</div>
          <div class="form-group col-md-6">{{ form.model_number|as_crispy_field }}</div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">{{ form.serial_number|as_crispy_field }}</div>
          <div class="form-group col-md-6">{{ form.appliance_type|as_crispy_field }}</div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">{{ form.purchase_date|as_crispy_field }}</div>
          <div class="form-group col-md-6">{{ form.purchase_location|as_crispy_field }}</div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">{{ form.power_demands|as_crispy_field }}</div>
          <div class="form-group col-md-6">{{ form.notes|as_crispy_field }}</div>
        </div>
        <div class="form-check">{{ form.registered|as_crispy_field }}</div>
        <div class="form-group">{{ form.receipt|as_crispy_field }}</div>
        <div class="form-group">{{ form.owners_manual|as_crispy_field }}</div>
        <div class="form-group">{{ form.specs|as_crispy_field }}</div>
        <div class="form-group">{{ form.install_docs|as_crispy_field }}</div>
        <div class="form-group">{{ form.image|as_crispy_field }}</div>
        <div class="form-group mt-3">
          <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}
              Update
            {% else %}
              Save
            {% endif %}
          </button>
          <a class="btn btn-secondary" href="{% url 'appliance_list' %}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
