{% extends 'base.html' %}

{% load static %}

{% block title %}Delete Circuit{% endblock %}
{% block content %}
  <div class="card mt-4">
    <div class="card-header">
      <h1 class="card-title">Delete Circuit</h1>
    </div>
    <div class="card-body">
      <p>Are you sure you want to delete the circuit "{{ object }}"?</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'circuit_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
